/* variable.css */

/* color ========================= */
:root{
--color-darkblue:#213c5d;
--color-beige:#eae1d8;
--color-white:#ffffff;
--color-black:#151515;
--color-gray:#505050;
--color-yellow:#e7b400;
--color-warm_pink:#ff7777;
--color-back_gray:#999;
--color-light_gray_01:#c4c4c4;
}
/* ================================ */

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}