/* b_smartphone.css */

/* max-width: 767px / design 기준: 320px */
@media all and (max-width: 767px) {
  #wrap {width: 100%; min-height: 600px;}
  #headBox {
    width: 100%; min-width: 320px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 300px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }
  .head_inner h1 {
    width: 100%; min-width: 258px;
    height: 100%;
  }
  .head_inner h1 button {
    height: 100%;
  }
  .head_inner h1 img {
    width: 34.8837%; min-width: 90px;
    height: 100%;
  }
  .unb { display: none; }
  .header_m {
    width: 42px; 
    height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
  }

  #unbInner {
    width: 44px;
    padding: 0;
  }
  
  #check_box {display: none;}
  #check_box + label {
    position: relative;
    display: block;
    width: 11.875%; min-width: 38px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    margin: auto;
  }
  #check_box + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: all 300ms;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 40px;
  }
  #slide_menu {
    position: fixed;
    width: 100%; min-width: 288px;
    height: 100%;
    background-color: rgba(55, 185, 223, 0.9);
    text-transform: uppercase;
    left: 100%;
    transition: all 300ms;
    z-index: 1;
    top: 0px;
    padding: 60px 16px 20px 16px;
    box-sizing: border-box;
    overflow: auto;
  }
  
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    cursor: pointer;
    position: relative;
  }
  input[id*="slide_btn"] + label + div {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
  input[id*="slide_btn"] + label + div a {
    display: inline-block;
    padding: 10px;
    display: flex;
  }
  input[id*="slide_btn"]:checked + label + div {
    max-height: inherit;
  }
  .head_inner02 {display: none;}
  #adViewBox {
    width: 100%; min-width: 320px;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
  }
  .view_outer {
    width: 100%; min-width: 320px;
    height: 100%;
    margin: auto;
  }
  .viewport {
    width: 100%; min-width: 320px;
    height: 100%;
  }
  .viewport > img {
    width: 100%; 
    height: 100%;
  }
  .viewtext {
    width: 100%; min-width: 320px;
    height: 100%;
    margin-top: -50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  #shortcutBox {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #fff;
    overflow-x: scroll;
  }
  .shortcut_outer {
    width: 100%; 
    height: auto;
    margin: auto;
  }
  .shortcut01 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .scimg01 {
    width: 120px;
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg01 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg02 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg02 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg03 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg03 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg04 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg04 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg05 {
    width: 120px; 
    height: 120px;
    margin-left: 8px;
    position: relative;
  }
  .scimg05 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }

  .shortcut02 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin-bottom: 8px;
    display: flex;
  }
  .scimg06 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg06 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg07 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg07 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg08 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg08 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg09 {
    width: 120px; 
    height: 120px;
    margin: 0 8px;
    position: relative;
  }
  .scimg09 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .scimg10 {
    width: 120px; 
    height: 120px;
    margin-left: 8px;
    position: relative;
  }
  .scimg10 img {
    width: 120px; 
    height: 120px;
    vertical-align: middle;
  }
  .sctext {
    width: 120px; 
    height: 120px;
    margin: auto;
    line-height: 120px;
    box-sizing: border-box;
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }
  .shortcut_outer li:nth-last-of-type(-n+5){margin-bottom: 0;}
  .shortcut_outer li:nth-last-child(1){margin-bottom: 0; margin-right: 10px;}

  #content_box_wrap{
    width: 100%; 
    height: auto;
  }
  /* #communityBox =============================== */
  #communityBox {
    width: 93.75%; min-width: 300px; 
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
  }
  .community_inner {
    width: 100%; min-width: 300px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .bestpicture_title {
    width: 93.3333%; min-width: 280px;
    display: flex;
    margin: auto;
  }
  .bestpicture_title h2 {
    width: 100%; min-width: 234px;
    line-height: 40px;
    font-size: 20px;
  }
  .moretx {
    width: 45px; 
    height: 40px;
    text-align: center;
  }
  .bestpicture {
    width: 93.75%; min-width: 300px; 
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }
  .bestpicture::-webkit-scrollbar {display: none;}
  .bestpicture_top {display: flex;}
  .bestpicture1 {
    width: 62%; min-width: 186px;
    height: auto;
    margin: auto;
    border-radius: 5%;
  }
  .bestpicture1 img {
    width: 90%;
    border-radius: 5%;
  }
  .bestpicture2 {
    width: 62%; min-width: 186px;
    height: auto;
    margin: auto;
    border-radius: 5%;
  }
  .bestpicture2 img {
    width: 90%;
    border-radius: 5%;
  }
  .bestpicture_bottom {
    display: flex;
  }
  .bestpicture3 {
    width: 62%; min-width: 186px;
    height: auto;
    margin: auto;
    border-radius: 5%;
  }
  .bestpicture3 img {
    width: 90%;
    border-radius: 5%;
  }
  .bestpicture4 {
    width: 62%; min-width: 186px;
    height: auto;
    margin: auto;
    border-radius: 5%;
  }
  .bestpicture4 img {
    width: 90%;
    border-radius: 5%;
  }
  .community_inner02 {
    width: 100%; min-width: 300px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .story_title {
    width: 93.3333%; min-width: 280px;
    display: flex;
    margin: auto;
  }
  .story_title h2 {
    width: 100%; min-width: 234px;
    line-height: 40px;
    font-size: 20px;
  }
  .story {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }
  .story::-webkit-scrollbar {display: none;}
  .storyimg01 {
    width: 93.75%; min-width: 300px; 
    height: auto;
    margin: auto;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .storyimg01 img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .storytext {
    width: 93.75%; min-width: 300px; 
    height: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
  }
  .storytextid {
    width: 100%; 
    height: auto;
    font-size: 16px;
  }
  .storyimg02 {
    width: 93.75%; min-width: 300px; 
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    border-radius: 10px;
  }
  .storyimg02 img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .storyimg03 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    border-radius: 10px;
  }
  .storyimg03 img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .storyimg04 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    border-radius: 10px;
  }
  .storyimg04 img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .review_title {
    width: 93.3333%; min-width: 280px;
    margin: auto;
    margin-top: 20px;
    display: flex;
  }
  .review_title h2 {
    width: 100%; min-width: 234px;
    font-size: 20px;
  }
  .review {
    width: 93.75%; min-width: 300px;
    height: auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }
  .review::-webkit-scrollbar {display: none;}
  .reviewimg01 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .reviewimg01 img {
    width: 100%;
    height: 200px;
    margin: auto;
  }
  .reviewtext {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
  }
  .reviewimg02 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .reviewimg02 img {
    width: 100%;
    height: 200px;
    margin: auto;
  }
  
  
  /* #bestBox============================== */
  #bestBox {
    width: 93.75%; min-width: 300px;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    margin: auto;
    margin-top: 70px;
  }
  #bestBox h2 {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    font-size: 18px;
    text-align: center;
  }
  .bestbox_inner {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
  }
  .bestbox_list {
    width: auto;
    height: auto;
    margin: auto;
  }
  .bestbox_list ul {
    width: 93.3333%; min-width: 280px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .bestbox_list ul li {
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .bestbox_list ul li button {
    width: 100%; min-width: 70px;
    font-size: 15px;
  }
  .bestbox_img {
    width: 100%; min-width: 300px;
    height: auto;
  }
  .bestbox_img ul {
    width: 100%;
    display: flex;
    margin: auto;
    overflow: auto;
    white-space: nowrap;
  }
  .bestbox_img ul::-webkit-scrollbar {
    display: none;
  }
  .bestbox_img ul li:not(:last-child) {
    width: 93.75%; min-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }
  .img_inner {
    width: auto;
    height: auto;
    position: relative;
  }
  .img_inner img {
    width: 100%; min-width: 300px;
    margin: auto;
    margin-top: 30px;
  }
  .besttext p {
    width: 100%; min-width: 300px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }

    /* #miniAdBox ============================== */
  #miniAdBox {
    height: 100%; 
    box-sizing: border-box; 
  }
  .mini_inner{
    width: 93.75%; min-width: 300px; 
    height: auto;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }
  .deal {
    width: 48.3333%; min-width: 145px; 
    height: auto;
    margin-right: 10px;
  }
  .deal h2 {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
  .dealimg {
    width: 96.5517%; min-width: 140px;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .dealimg img {
    width: 100%;
    height: 130px;
  }
  .dealimg input[id="slide"]{display: none;}
  .dealimg input {display: none;}
  .slide_list {
    white-space: nowrap;
    overflow: hidden;
  }
  .slide_item {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: all .35s;
  }
  .slide_item li {
    width: 100%;
    height: 160px;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
  }
  .textbox span {
    font-weight: 500;
  }
  .textbox p {display: none;}
  .slide_item li a {
    display: block;
    position: relative;
  }
  .slide_item label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  label.left {
    left: 0px;
    top: 150px;
    background-image: url('../../img/base/arrow_left.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  label.right {
    right: 0px;
    top: 150px;
    background-image: url('../../img/base/arrow_right.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  
  
  .dealimg [id="slide01"]:checked ~ .slide_list .slide_item li {transform: translateX(0);}
  .dealimg [id="slide02"]:checked ~ .slide_list .slide_item li {transform: translateX(-100%);}
  .dealimg [id="slide03"]:checked ~ .slide_list .slide_item li {transform: translateX(-202%);}
  
  .planning {
    width: 48.3333%; min-width: 145px; 
    height: auto;
  }
  .planning h2 {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
  .planing_img {
    width: 96.5517%; min-width: 140px;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .planing_img img {
    width: 100%;
    height: 130px;
  }
  .planing_img input {display: none;}
  .planing_img input [id="slide"]{display: none;}
  .planslide_list {
    white-space: nowrap;
    overflow: hidden;
  }
  .planslide_item {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: all .35s;
  }
  .planslide_item li {
    width: 100%;
    height: 160px;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
  }
  .plantext {
    width: 100%;
    text-align: center;
    transition:all .5s;
    color:#000;
  }
  .plantext span {
    font-weight: 500;
    font-size: 16px;
  }
  .plantext p {display: none;}
  .planslide_item li a {
    display: block;
    position: relative;
  }
  .planslide_item label {
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  .plan_left {
    left: 0px;
    top: 150px;
    background-image: url('../../img/base/arrow_left.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .plan_right {
    right: 0px;
    top: 150px;
    background-image: url('../../img/base/arrow_right.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .planing_img [id="plan_slide01"]:checked ~ .planslide_list .planslide_item li {transform: translateX(0);}
  .planing_img [id="plan_slide02"]:checked ~ .planslide_list .planslide_item li {transform: translateX(-100%);}
  .planing_img [id="plan_slide03"]:checked ~ .planslide_list .planslide_item li {transform: translateX(-202%);}


  #footBox {
    display: none;
    float: left;
    width: 100%; min-width: 1280px;
    height: auto;
    border-top: 3px solid #37B9DF;
  }
  .foot_inner {
    width: 85.7813%; min-width: 1098px; height: auto;
    margin: 30px auto;
    position: relative;
  }
  
  .foot_main {
    color: #000;
    /* text-align: center; */
    position: relative;
  }
  .foot_main h2 {
    width: auto;
    margin-bottom: 18px;
  }
  .foot_main h2 button img {
    width: 150px; 
    height: 40px;
    margin: auto;
    display: block;
  }
  .cs_box {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .cs_part {
    display: flex;
    width: 772px;
  }
  .cs_part h3 {
    width: 154px;
    height: auto;
  }
  .cs_part button {
    width: 100px;
    height: auto;
    text-align: left;
  }
  .tel_part {
    width: 134px;
    font-size: 18px;
    line-height: 28px;
  }
  .tel_part address {
    font-size: 18px;
    font-weight: 400;
  }
  .inquiry_time {
    width: 638px;
  }
  .inquiry_time li {
    font-size: 18px;
  }


  .foot_main .company_info {
    width: 100%; min-width: 1098px;
    height: auto;
  }
  .foot_main .company_info li {
    font-size: 17px;
    display: inline-block;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    font-size: 15px;
    margin-top: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .footsubmenu {
    width: 180px;
    /* display: flex; */
    position: absolute;
    top: 0px;
    right: 0;
  }
  .brandsite_part {
    width: 100%;
  }
  .brandsite_btn {
    width: 100%; height: 42px;
    line-height: 42px;
    background-color: #37B9DF;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }
  .brandsite_part ul {
    display: none;
    width: 100%; height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    border: 1px solid #262626;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%; height: auto;
  }

  .to_top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 4%;
    z-index: 1;
  }
  .to_top.on {
    display: block;
  }
  .to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../../img/to_top2color.svg)no-repeat center;
    background-size: 60px;
  }
  .to_top span:hover {
    background: url(../../img/to_top_fill.svg)no-repeat center;
    background-size: 60px;
  }
}