/* b_smartphone.css */


/* (width:768px ~ 959px) / design 기준 :768px */
@media all and (min-width:768px) and (max-width:1279px) {
  #headBox {position:relative; height:auto; }
  .head_inner {
    min-width:768px; height: 50%;
    margin: auto; padding:10px; box-sizing: border-box;
    background-color: #EAE1D8;
  }
  h1 {
    width: 100px; height: 50px;
    margin: auto;
    background-image: url(../../img/base/ohoulogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
  }

  #navigation
  .unb {
    float:right;
    width:auto; height:auto; 
    background-image: url(../../img/base/join.png);
    background-size: 40px 30px;
    background-repeat: no-repeat;
  }
  .unb ul {
    display: none;
    width:450px; height: auto;
  }
  .unb li {
    display: none;
    float: left;
    width: 70px; height: 20px;
    margin:  5px;
    font-size: 18px;
    text-align: center;
  }
  .unb .clearfix {
    display: none;
    width: 410px; height: auto;
  }
  .unb button {
    display: none;
    width:100%; height: 25px; 
    border: 0; margin: 0; 
    background-color: #213C5D;
    color: #fff;
    cursor: pointer;
    border-radius:10%;
  }  
  .gnb {
    width: auto; height: 45px;
  }
  .gnb ul {
    display: none;
    width:100%; height: auto;
    padding: 5px 15px;
    margin:auto; text-align: center;
  }
  .gnb li {
    display: none;
    display:inline-block; width:auto; height: auto;
    margin-left:20px;
    font-size: 18px;
  }
  .gnb li:first-child {
    display: none;
    margin-left: 0;
  }
  .gnb li a {
    display: none;
    padding:5px 20px;
  }

  #adViewBox {
    width: 100%; height: 200px;
    box-sizing: border-box;
    background-image: url(../../img/picture/veiw.png);
    background-repeat: no-repeat;
    /* background-size: 100%, 210px; */
    background-position: 50% 50%;

  }
  .view_indicator {
    float: right;
    margin: auto;
  }
  .view_indicator.on ul {
    width: 100%; height: auto;
    padding: 10px 15px;
  }
  .view_indicator li {
    float: left;
    width: 20px;
    margin-right: 5px;
    background-color: #333; color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-top: 145px; margin-right: 5px;
  }
  .view_indicator li:last-child{ margin-right: 0;}

  #shortcutBox {
  height: 408px;
  box-sizing: border-box;
  padding: 5px;
  background-color: #fff;
  }
  .shortcut_outer {
  width: 100%; height: 408px;
  margin: auto;
  }
  .shortcut_outer ul {
  width: 100%; height: 408px;
  box-sizing: border-box;
  margin: 50px 10px;
  }
  .shortcut li {
    float: left;
    width: 140px; height: 140px;
    margin-right: 55px; margin-top: 10px;
    background-color: #eee;
    background-image: url(../../img/picture/shortcut_1.png);
    background-image: url(../../img/picture/shortcut_2.png);
    background-image: url(../../img/picture/shortcut_2-1.png);
    background-image: url(../../img/picture/shortcut_3.png);
    background-image: url(../../img/picture/shortcut_3-1.png);
    background-image: url(../../img/picture/shortcut_4.png);
    background-image: url(../../img/picture/shortcut_4-1.png);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: 50% 50%;
  }

  /* .shortcut_outer li:nth-last-of-type(-n+5){margin-bottom: 0;} */
  /* .shortcut_outer li:nth-last-child(1){margin-bottom: 0; margin-right: 10px;} */

  .content_box_wrap{
    width: 100%; height: auto;
  }

  #communityBox {
    height: 586px;
    background-color: #fff;
  }
  .commuity_inner {
    width: 100%; height: 100%;
  }
  .bestpicture {
    float: left;
    width: 100%; height: 205px;
  }
  .bestpicture1 {
    float: left;
    width: 150px; height: 150px;
    margin:15px 10px 0px 50px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture2 {
    float: left;
    width: 150px; height: 150px;
    margin:15px 10px 0px 15px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture3 {
    float: left;
    width: 150px; height: 150px;
    margin:15px 10px 0px 15px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestpicture4 {
    float: left;
    width: 150px; height: 150px;
    margin:15px 10px 0px 15px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .story {
    float: left;
    width: 100%; height: 362px;
  }
  .storyimg {
    float: left;
    width: 40%; height: 142px;
    margin:15px 20px 0px 50px;
    border-radius: 10px;
  }
  .storytext {
    display: none;
    width: 40%; height: 45px;
    margin: 15px 20px 5px 40px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storyimg_02 {
    float: left;
    width: 40%; height: 142px;
    margin:15px 50px 0px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storytext_02 {
    display: none;
    width: 40%; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storyimg_03 {
    float: left;
    width: 40%; height: 142px;
    margin:15px 20px 0px 50px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storytext_03 {
    display: none;
    width: 40%; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storyimg_04 {
    float: left;
    width: 40%; height: 142px;
    margin:15px 50px 0px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .storytext_04 {
    display: none;
    width: 40%; height: 45px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .review {
    float: left;
    width: 100%; height: 334px;
  }
  .reviewimg {
    float: left;
    width: 40%; height: 234px;
    margin:15px 20px 0px 50px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .reviewtext {
    display: none;
    width: 40%; height: 30px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }
  .reviewimg_02 {
    float: left;
    width: 40%; height: 234px;
    margin:15px 50px 0px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .reviewtext_02 {
    display: none;
    width: 40%; height: 30px;
    margin: 10px 40px 0;
    border-radius: 10px;
    background-color: #aaa;
  }

  #bestBox {
    height: 388px;
    box-sizing: border-box;
  }
  .area_title {
    width: 100%; height: 25px;
    margin: auto;
    text-align: center;
  }
  .best_inner {
    float: left;
    width: 100%; height: 20px;
    background-color: #eee;
  }
  .best_inner ul {
    width: 100%; height: auto;
    padding: 10px 0 10px 25px;
    background-color: #ddd;
  }
  .best_inner li {
    display: none;
    float: left;
    width: 87px;
    text-align: center;
  }
  .bestimg1 {
    float: left;
    width: 190px; height: 190px;
    margin: 20px 15px 5px 60px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestimg2 {
    float: left;
    width: 190px; height: 190px;
    margin: 20px 20px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .bestimg3 {
    float: left;
    width: 190px; height: 190px;
    margin: 20px 60px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .besttext1 {
    float: left;
    width: 190px; height: 40px;
    margin: 20px 15px 5px 60px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .besttext2 {
    float: left;
    width: 190px; height: 40px;
    margin: 20px 20px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .besttext3 {
    float: left;
    width: 190px; height: 40px;
    margin: 20px 60px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }

  #miniAdBox {
    height: 644px; 
    box-sizing: border-box;
    background-color: #fff;
  }
  /* .mini_inner{
  width: 100%; height:644px;
  margin:auto;
  } */
  .deal {
    float: left;
    width: 100%; height: 384px;
    margin: auto;
  }
  .dealimg {
    float: left;
    width: 180px; height: 180px;
    margin: 20px 15px 5px 60px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .dealimg_02 {
    float: left;
    width: 180px; height: 180px;
    margin: 20px 20px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .dealimg_03 {
    float: left;
    width: 180px; height: 180px;
    margin: 20px 60px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .dealtext_01 {
    float: left;
    width: 180px; height: 40px;
    margin: 20px 15px 5px 60px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .dealtext_02 {
    float: left;
    width: 180px; height: 40px;
    margin: 20px 20px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .dealtext_03 {
    float: left;
    width: 180px; height: 40px;
    margin: 20px 60px 5px 20px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planning {
    float: left;
    width: 100%; height: 260px;
    background-color: #fff;
  }
  .planingimg {
    float: left;
    width: 30%; height: 86px;
    margin: 15px 10px 10px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planingimg_02 {
    float: left;
    width: 30%; height: 86px;
    margin: 15px 10px 10px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planingimg_03 {
    float: left;
    width: 30%; height: 86px;
    margin: 15px 10px 10px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planingtext {
    float: left;
    width: 30%; height: 33px;
    margin: 0px 10px 15px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planingtext_02 {
    float: left;
    width: 30%; height: 33px;
    margin: 0px 10px 15px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  .planingtext_03 {
    float: left;
    width: 30%; height: 33px;
    margin: 0px 10px 15px 10px;
    border-radius: 10px;
    background-color: #aaa;
  }
  #footBox {
    height: 220px; 
    box-sizing: border-box;
    background-color: #999;
  }
  .foot_inner {
    width: 100%; height: 220px;
    margin:auto;
    background-color: #9cf;
  }
}