/* d_laptop.css */

/* (width:1280px ~ 1439px) / design 기준 :1280px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px;}

  /* #headBox =================================== */
  #headBox { 
    width: 100%; min-width: 1280px;
    height: 110px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1280px; max-width: 1439px;
    height: 50%;
    margin: auto;
    padding: 2px;
    display: flex;
  }
  h1 {
    width: 56.7188%; min-width: 726px; 
    height: 40px;
    margin: auto;
  }
  h1 button {
    width: auto;
    height: 100%;
  }
  h1 button img { 
    height: 100%;
  }
  .unb {
    width: auto; 
    height: auto;
    margin: auto;
    display: flex;
    text-transform: uppercase;
    text-align: center;
  }
  .shopping_part {
    width: 15.0943%; min-width: 80px;
    height: auto;
    font-size: 14px;
    line-height: 38px;
  }
  .shopping_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .login_part {
    width: 15.0943%; min-width: 80px;
    height: auto;
    font-size: 14px;
    line-height: 38px;
  }
  .login_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .join_part {
    width: 15.0943%; min-width: 80px;
    height: auto;
    font-size: 14px;
    line-height: 38px;
  }
  .join_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .search_part {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 10px;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #searchInput {
    width: 68.571%; min-width: 192px;
    height: 35px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
  }
  .search_btn {
    width: 28.571%; min-width: 80px;
    height: 32px;
    margin: auto;
    border-radius: 5px;
    background-color: #37B9DF;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  /* .head_inner02 ---------------------------------- */
  .head_inner02 {
    width: 100%;
    height: 50%;
    margin: auto;
    box-sizing: border-box;
    border-top: 2px solid #333;
  }

  .gnb {
    width: 91.4063%; min-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .submenu_part {
    position: relative;
    display: inline-block;
  }
  .btn_part {
    width: 11.1111%; min-width: 130px;
    height: 100%;
    line-height: 48px;
    border-radius : 4px;
    font-weight: 300;
    cursor : pointer;
    font-size : 18px;
    text-align: center;
  }
  .header_m {display: none;}

  /* #adViewBox ============================= */
  #adViewBox {
    width: 100%; min-width: 1280px;
    height: 100%;
    padding-top: 110px;
    box-sizing: border-box;
  }
  .view_outer {
    width: 100%; min-width: 1280px;
    height: auto;
    margin: auto;
  }
  .viewport {
    width: 100%; min-width: 1280px;
    height: 742px;
  }
  .viewport img {
    width: 100%; 
    height: 100%;
  }
  .viewtext {
    width: 100%; min-width: 1280px;
    height: auto;
    margin-top: -100px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }

  /* #shortcutBox ========================== */
  #shortcutBox {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .shortcut_outer {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .shortcut01 {
    width: 100%; min-width: 1100px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .scimg01 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px 0 0;
    position: relative;
  }
  .scimg01 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg02 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg02 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg03 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg03 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg04 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg04 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg05 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg05 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .shortcut02 {
    width: 100%; min-width: 1100px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .scimg06 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px 0 0;
    position: relative;
  }
  .scimg06 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg07 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg07 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg08 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg08 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg09 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg09 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .scimg10 {
    width: 18.1818%; min-width: 200px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg10 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .sctext {
    width: 100%; 
    height: auto;
    margin: auto;
    top: 41%;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    position: absolute;
  }

  /* #content_box_wrap ============================= */
  #content_box_wrap{
  width: 100%;
  height: auto;
  }
  .community {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
  }

  /* #communityBox =============================== */ 
  #communityBox {
    width: 54.5455%; min-width: 600px; 
    height: auto;
    margin: auto;
    margin-top: 70px;
  }
  .community_inner {
    width: 100%; 
    height: auto;
  }
  .bestpicture_title {
    width: 84.3333%; min-width: 506px;
    margin: auto;
    display: flex;
  }
  .bestpicture_title h2 {
    width: 100%;
    height: auto;
    line-height: 43px;
    font-size: 20px;
    font-weight: 500;
  }
  .moretx {
    width: 43px;
    height: 40px;
    text-align: center;
  }
  .moretx button {
    font-size: 17px;
    font-weight: 300;
  }
  .bestpicture {
    width: 90%; min-width: 540px; 
    height: auto;
    margin: auto;
    margin-top: 25px;
  }
  .bestpicture_top {display: flex;}
  .bestpicture1 {
    width: 50.7407%; min-width: 274px;
    height: auto;
    margin: auto;
  }
  .bestpicture1 img {
    width: 90%;
    border-radius: 5%;
  }
  .bestpicture2 {
    width: 50.7407%; min-width: 274px;
    height: auto;
    margin: auto;
  }
  .bestpicture2 img {
    width: 90%;
    border-radius: 5%;
  }
  .bestpicture_bottom {
    margin-top: 10px;
    display: flex;
  }
  .bestpicture3 {
    width: 50.7407%; min-width: 274px;
    height: auto;
    margin: auto;
  }
  .bestpicture3 img {
    width: 90%;
    border-radius: 5%;
  }
  .bestpicture4 {
    width: 50.7407%; min-width: 274px;
    height: auto;
    margin: auto;
  }
  .bestpicture4 img {
    width: 90%;
    border-radius: 5%;
  }
  #community_inner02 {
    width: 45.4545%; min-width: 500px;
    height: auto;
    margin: auto;
    margin-top: 70px;
  }
  .story_title {
    width: 98%; min-width: 490px;
    margin: auto;
    display: flex;
  }
  .story_title h2 {
    width: 100%;
    height: auto;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
  }
  .story {
    width: 100%; 
    height: auto;
    margin: auto;
  }
  .story_img {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 25px;
    display: flex;
    overflow: auto;
  }
  .storyimg01 {
    width: 98%; min-width: 490px;
    height: auto;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .storyimg01 img {
    width: 100%; min-width: 490px;
    height: auto;
    margin: auto;
  }
  .storytext {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 16px;
  }
  .storytextid {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .storyimg02 {
    width: 98%; min-width: 490px;
    height: auto;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .storyimg02 img {
    width: 100%; min-width: 490px;
    height: auto;
    margin: auto;
  }
  .storyimg03 {
    width: 98%; min-width: 490px;
    height: auto;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .storyimg03 img {
    width: 100%; min-width: 490px;
    height: auto;
    margin: auto;
  }
  .storyimg04 {
    width: 98%; min-width: 490px;
    height: auto;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .storyimg04 img {
    width: 100%; min-width: 490px;
    height: auto;
    margin: auto;
  }

  /* .review --------------- */
  .review {
    width: 100%; 
    height: auto;
    margin: auto;
  }
  .review_title {
    width: 98%; min-width: 490px;
    margin: auto;
    display: flex;
  }
  .review_title h2 {
    width: 100%;
    height: auto;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
  }
  .review_img {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    overflow: auto;
  }
  .reviewimg01 {
    width: 98%; min-width: 490px;
    height: 218px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .reviewimg01 img {
    width: 100%; min-width: 490px;
    height: 80%;
    margin: auto;
  }
  .reviewimg02 {
    width: 100%;
    height: 218px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .reviewimg02 img {
    width: 98%; min-width: 490px;
    height: 80%;
    margin: auto;
  }
  .reviewtext {
    width: 100%; 
    height: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 16px;
  }
  
  /* #bestBox============================== */
  #bestBox {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    box-sizing: border-box;
  }
  #bestBox h2 {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .bestbox_inner {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
  }
  .bestbox_list ul {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
  }
  .bestbox_list ul li {
    width: 9.0909%; min-width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .bestbox_list ul li button {
    width: auto;
    font-size: 18px;
  }
  .bestbox_img ul {
    width: 98.1818%; min-width: 1080px;
    margin: auto;
    display: flex;
  }
  .bestbox_img ul li:not(:last-child) {
    width: 31.4815%; min-width: 340px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
  }
  .img_inner {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .img_inner img {
    width: 100%; min-width: 340px;
    margin: auto;
    margin-top: 30px;
  }
  .besttext {
    width: 100%; min-width: 340px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
  .besttext p {
    font-size: 16px;
  }

  /* #miniAdBox ====================== */
  #miniAdBox {
    height: 100%; 
    box-sizing: border-box; 
  }
  .mini_inner{
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }
  .deal {
    width: 50%; min-width: 550px;
    height: 100%;
  }
  .deal h2 {
    width: 90.9091%; min-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }
  .dealimg {
    width: 90.9091%; min-width: 500px;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .dealimg img {
    width: 100%;
    height: 250px;
  }
  .dealimg input[id="slide"]{display: none;}
  .dealimg input {display: none;}

  .slide_list {
    white-space: nowrap;
    overflow: hidden;
  }
  .slide_item {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: all .35s;
  }
  .slide_item li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
  }
  .textbox {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  .textbox span {
    font-size: 16px;
    font-weight: 500;
  }
  .textbox p {
    font-size: 16px;
    text-align: center;
    color:#000;
    transition:all .5s;
  }
  .slide_item li a {
    display: block;
    position: relative;
  }
  .slide_item label {
    top: 50%;
    padding: 20px;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
  label.left {
    left: 20px;
    top: 130px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/left.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  label.right {
    right: 20px;
    top: 130px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/right.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  .dealimg [id="slide01"]:checked ~ .slide_list .slide_item li {transform: translateX(0);}
  .dealimg [id="slide02"]:checked ~ .slide_list .slide_item li {transform: translateX(-100%);}
  .dealimg [id="slide03"]:checked ~ .slide_list .slide_item li {transform: translateX(-202%);}
  
  .planning {
    width: 50%; min-width: 550px;
    height: 100%;
  }
  .planning h2 {
    width: 90.9091%; min-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }
  .planing_img {
    width: 90.9091%; min-width: 500px;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .planing_img img {
    width: 100%;
    height: 250px;
  }
  .planing_img input {display: none;}
  .planing_img input [id="slide"]{display: none;}

  .planslide_list {
    white-space: nowrap;
    overflow: hidden;
  }
  .planslide_item {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: all .35s;
  }
  .planslide_item li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
  }
  .plantext p {
    width: 100%;
    text-align: center;
    transition:all .5s;
    font-size: 16px;
    color:#000;
  }
  .plantext span {
    font-size: 16px;
    font-weight: 500;
  }
  .planslide_item li a {
    display: block;
    position: relative;
  }
  .planslide_item label {
    padding: 20px;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
  .plan_left {
    left: 20px;
    top: 130px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/left.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .plan_right {
    right: 20px;
    top: 130px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/right.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .planing_img [id="plan_slide01"]:checked ~ .planslide_list .planslide_item li {transform: translateX(0);}
  .planing_img [id="plan_slide02"]:checked ~ .planslide_list .planslide_item li {transform: translateX(-100%);}
  .planing_img [id="plan_slide03"]:checked ~ .planslide_list .planslide_item li {transform: translateX(-202%);}

/* #footBox ======================== */
  #footBox {
    width: 100%; min-width: 1280px;
    height: auto;
    border-top: 3px solid #37B9DF;
  }
  .foot_inner {
    width: 85.7813%; min-width: 1098px;
    height: auto;
    margin: 30px auto;
    position: relative;
  }
  
  .foot_main {
    position: relative;
    color: #000;
  }
  .foot_main h2 {
    width: auto;
    margin-bottom: 18px;
  }
  .foot_main h2 button img {
    width: 120px; 
    height: auto;
    margin: auto;
    display: block;
  }
  .cs_box {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .cs_part {
    width: auto;
    display: flex;
  }
  .tel_part {
    width: auto;
    font-size: 16px;
    line-height: 28px;
  }
  .cs_part button {
    width: auto;
    height: auto;
    text-align: left;
  }
  .tel_part address {
    font-size: 16px;
    font-weight: 400;
  }
  .inquiry_time {
    width: 100%;
  }
  .inquiry_time li {
    font-size: 16px;
  }
  .foot_main .company_info {
    width: 100%; min-width: 1098px;
    height: auto;
  }
  .foot_main .company_info li {
    display: inline-block;
    font-size: 17px;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .footsubmenu {
    width: 14.4014%; min-width: 160px;
    top: 0px;
    right: 0;
    position: absolute;
  }
  .brandsite_part {
    width: 100%;
  }
  .brandsite_btn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #37B9DF;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
  }
  .brandsite_part ul {
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 5px 8px;
    display: none;
    border: 1px solid #262626;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  .brandsite_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  .brandsite_part ul button {
    font-weight: 400;
    font-size: 16px;
  }
}