/* e_pc.css */

/* (width:1440px ~ 1919px) / design 기준 :1440px */
@media all and (min-width:1440px) and (max-width:1919px) {
  #wrap {width: 100%; min-width: 1440px;}

  /* #headBox =================================== */
  #headBox { 
    width: 100%; min-width: 1440px;
    height: 140px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1440px; max-width: 1919px;
    height: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
  }
  h1 {
    width: 68.1538%; min-width: 886px; 
    height: 46px;
    margin: auto;
  }
  h1 button {
    width: auto;
    height: 100%;
  }
  h1 button img {
    height: 100%;
  }

  /* user navigation */
  .unb {
    width: auto; 
    height: auto;
    margin: auto;
    display: flex;
    text-transform: uppercase;
    text-align: center;
  }
  /* page 이동 */
  .shopping_part {
    width: 15.0943%; min-width: 80px;
    height: 50px;
    font-size: 16px;
    line-height: 46px;
  }
  .shopping_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .login_part {
    width: 15.0943%; min-width: 80px;
    height: 50px;
    line-height: 46px;
    font-size: 16px;
  }
  .login_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .join_part {
    width: 15.0943%; min-width: 80px;
    height: 50px;
    line-height: 46px;
    font-size: 16px;
  }
  .join_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  /* search */
  .search_part {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 10px;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #searchInput {
    width: 36.2264%; min-width: 192px;
    height: 38px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
  }
  .search_btn {
    width: 28.571%; min-width: 80px;
    height: 38px;
    border-radius: 5px;
    background-color: #37B9DF;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  /* .head_inner02 ---------------------------------- */
  .head_inner02 {
    width: 100%; 
    height: 50%;
    margin: auto;
    box-sizing: border-box;
    border-top: 2px solid #333;
  }
  /* global navigaition */
  .gnb {
    width: 87.5%; min-width: 1260px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .submenu_part {
    position: relative;
    display: inline-block;
  }
  .btn_part {
    width: 11.1111%; min-width: 140px;
    height: 100%;
    line-height: 48px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }
  .header_m {display: none;}

  /* #adViewBox ============================= */
  #adViewBox {
    width: 100%; min-width: 1440px;
    height: 100%;
    padding-top: 140px;
    box-sizing: border-box;
  }
  .view_outer {
    width: 100%; min-width: 1440px;
    height: 742px;
    margin: auto;
  }
  .viewport {
    width: 100%; min-width: 1440px;
    height: 100%;
    }
  .viewport img {
    width: 100%;
    height: 100%;
  }
  .viewtext {
    width: 100%; min-width: 1440px;
    height: 20px;
    margin-top: -100px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }

  /* #shortcutBox ========================== */
  #shortcutBox {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .shortcut_outer {
    width: 100%; 
    height: auto;
    margin: auto;
  }

  /* shortcut 상단 ---------------- */
  .shortcut01 {
    width: 100%; min-width: 1200px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .scimg01 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px 0 0;
    position: relative;
  }
  .scimg01 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg02 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg02 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg03 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg03 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg04 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg04 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg05 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg05 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  
  /* shortcut 하단 ------------------- */
  .shortcut02 {
    width: 100%; min-width: 1200px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
  }
  .scimg06 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px 0 0;
    position: relative;
  }
  .scimg06 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg07 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg07 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg08 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg08 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg09 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg09 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  .scimg10 {
    width: 18.3333%; min-width: 220px;
    height: 100%;
    margin: 0 10px;
    position: relative;
  }
  .scimg10 img {
    width: 100%; 
    height: 100%;
    vertical-align: middle;
  }
  /* shortcut text */
  .sctext {
    width: 100%;
    height: auto;
    margin: auto;
    top: 40%;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    position: absolute;
  }

  /* #content_box_wrap ============================= */
  #content_box_wrap {
  width: 100%; 
  height: auto;
  }
  .community {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
  }
  
  /* #communityBox =============================== */ 
  #communityBox {
    width: 50%; min-width: 600px; 
    height: auto;
    margin: auto;
    margin-top: 70px;
  }
  /* .bestpicture */
  .community_inner {
    width: 100%; 
    height: auto;
  }
  
  /* bestpicture ---------------------- */
  .bestpicture_title {
    width: 94.1667%; min-width: 565px;
    margin: auto;
    display: flex;
  }
  .bestpicture_title h2 {
    width: 100%;
    line-height: 40px;
    font-size: 22px;
  }
  .moretx {
    width: 45px; 
    height: auto;
    text-align: center;
  }
  .moretx button {
    font-size: 20px;
  }
  
  /* bestpicture 내용 */
  .bestpicture {
    width: 100%; min-width: 600px; 
    height: auto;
    margin-top: 25px;
  }
  .bestpicture_top {display: flex;}
  .bestpicture1 {
    width: 48.3333%; min-width: 290px;
    height: auto;
    margin: auto;
  }
  .bestpicture1 img {
    width: 100%;
    border-radius: 5%;
  }
  .bestpicture2 {
    width: 48.3333%; min-width: 290px;
    height: auto;
    margin: auto;
  }
  .bestpicture2 img {
    width: 100%;
    border-radius: 5%;
  }
  .bestpicture_bottom {
    margin-top: 10px;
    display: flex;
  }
  .bestpicture3 {
    width: 48.3333%; min-width: 290px;
    height: auto;
    margin: auto;
    border-radius: 5%;
  }
  .bestpicture3 img {
    width: 100%;
  }
  .bestpicture4 {
    width: 48.3333%; min-width: 290px;
    height: auto;
    margin: auto;
    border-radius: 5%;
  }
  .bestpicture4 img {
    width: 100%;
  }

  /* #community_inner02 =============== */
  /* story, riview part */
  #community_inner02 {
    width: 48.3333%; min-width: 580px;
    height: auto;
    margin: auto;
    margin-top: 70px;
  }
  
  /* .story ---------------------------- */
  .story_title {
    width: 90.5172%; min-width: 525px;
    margin: auto;
    display: flex;
  }
  .story_title h2 {
    width: 100%;
    height: auto;
    line-height: 40px;
    font-size: 22px;
  }
  /* story 내용 */
  .story {
    width: 100%; 
    height: auto;
    margin: auto;
  }
  .story_img {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 25px;
    display: flex;
    overflow: auto;
  }
  .storyimg01 {
    width: 93.1034%; min-width: 540px;
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .storyimg01 img {
    width: 100%; min-width: 540px;
    height: auto;
    margin: auto;
  }
  .storytext {
    width: 100%; 
    height: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
  }
  .storytextid {
    width: 100%; 
    height: auto;
    font-size: 16px;
  }
  .storyimg02 {
    width: 93.1034%; min-width: 540px;
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .storyimg02 img {
    width: 100%; min-width: 540px;
    height: auto;
    margin: auto;
  }
  .storyimg03 {
    width: 93.1034%; min-width: 540px;
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .storyimg03 img {
    width: 100%; min-width: 540px;
    height: auto;
    margin: auto;
  }
  .storyimg04 {
    width: 93.1034%; min-width: 540px;
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .storyimg04 img {
    width: 100%; min-width: 540px;
    height: auto;
    margin: auto;
  }
  
  /* .review --------------- */
  .review {
    width: 100%; 
    height: auto;
    margin: auto;
    margin-top: 10px;
  }
  .review_title {
    width: 87.931%; min-width: 510px;
    margin: auto;
    display: flex;
  }
  .review_title h2 {
    width: 100%; 
    height: auto;
    margin-left: 24px;
    font-size: 24px;
  }
  .review_img {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    overflow: auto;
  }
  .reviewimg01 {
    width: 93.1034%; min-width: 540px;
    height: 300px;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .reviewimg01 img {
    width: 100%; min-width: 540px;
    height: 80%;
    margin: auto;
  }
  .reviewimg02 {
    width: 93.1034%; min-width: 540px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .reviewimg02 img {
    width: 100%; min-width: 540px;
    height: 80%;
    margin: auto;
  }
  .reviewtext {
    width: 100%; 
    height: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
  }
  
  /* #bestBox============================== */
  #bestBox {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    box-sizing: border-box;
  }
  #bestBox h2 {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin: auto;
    text-align: center;
  }
  .bestbox_inner {
    width: 83.3333%; min-width: 1200px; 
    height: auto;
    margin: auto;
  }
  .bestbox_list ul {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin-top: 30px;
    margin-left: -12px;
    display: flex;
  }
  .bestbox_list ul li {
    width: 9.0833%; min-width: 109px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .bestbox_list ul li button {
    width: auto;
    font-size: 19px;
  }
  .bestbox_img ul {
    width: 99.5833%; min-width: 1195px;
    margin: auto;
    display: flex;
  }
  .bestbox_img ul li {
    width: 31.6318%; min-width: 378px;
    display: inline-block;
    vertical-align: top;
  }
  .bestbox_img ul li:not(:last-child) {
    margin-right: 30px;
  }
  .img_inner {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .img_inner img {
    width: 100%; min-width: 378px;
    margin: auto;
    margin-top: 30px;
  }
  .besttext {
    width: 100%; min-width: 378px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
  .besttext p {
    font-size: 18px;
  }

  /* #miniAdBox ========================== */
  #miniAdBox {
    height: 100%; 
    box-sizing: border-box; 
  }
  .mini_inner {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }
  
  /* deal ------------------------- */
  .deal {
    width: 50%; min-width: 600px;
    height: 100%;
  }
  .deal h2 {
    width: 91.6667%; min-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }
  .dealimg {
    width: 91.6667%; min-width: 550px;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .dealimg img {
    width: 100%;
    height: 300px;
  }
  .dealimg input[id="slide"] {display: none;}
  .dealimg input {display: none;}
  .slide_list {
    white-space: nowrap;
    overflow: hidden;
  }
  .slide_item {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: all .35s;
  }
  .slide_item li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
  }
  .textbox {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  .textbox span {
    font-size: 18px;
    font-weight: 500;
  }
  .textbox p {
    font-size: 18px;
    text-align: center;
    color: #000;
    transition: all .5s;
  }
  .slide_item li a {
    display: block;
    position: relative;
  }
  .slide_item label {
    top: 50%;
    padding: 20px;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
  
  /* deal arrow */
  label.left {
    left: 20px;
    top: 160px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/left.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  label.right {
    right: 20px;
    top: 160px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/right.png');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  
  /* deal 페이지 전환 */
  .dealimg [id="slide01"]:checked ~ .slide_list .slide_item li {transform: translateX(0);}
  .dealimg [id="slide02"]:checked ~ .slide_list .slide_item li {transform: translateX(-100%);}
  .dealimg [id="slide03"]:checked ~ .slide_list .slide_item li {transform: translateX(-202%);}
  
  /* .planning ------------------------ */
  .planning {
    width: 50%; min-width: 600px;
    height: 100%
  }
  .planning h2 {
    width: 91.6667%; min-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }
  .planing_img {
    width: 91.6667%; min-width: 550px;
    height: auto;
    margin: auto;
    border-radius: 10px;
  }
  .planing_img img {
    width: 100%;
    height: 300px;
  }
  .planing_img input {display: none;}
  .planing_img input [id="slide"] {display: none;}

  .planslide_list {
    white-space: nowrap;
    overflow: hidden;
  }
  .planslide_item {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: all .35s;
  }
  .planslide_item li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
  }
  
  /* plan text */
  .plantext {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  .plantext p {
    width: 100%;
    text-align: center;
    color: #000;
    transition: all .5s;
  }
  .plantext span {
    font-size: 18px;
    font-weight: 500;
  }
  .planslide_item li a {
    display: block;
    position: relative;
  }
  .planslide_item label {
    padding: 20px;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
  }
  
  /* plan arrow */
  .plan_left {
    left: 20px;
    top: 160px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/left.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .plan_right {
    right: 20px;
    top: 160px;
    background-color: #5f5f5f;
    background-image: url('../../img/base/right.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  /* plan 페이지 전환 */
  .planing_img [id="plan_slide01"]:checked ~ .planslide_list .planslide_item li {transform: translateX(0);}
  .planing_img [id="plan_slide02"]:checked ~ .planslide_list .planslide_item li {transform: translateX(-100%);}
  .planing_img [id="plan_slide03"]:checked ~ .planslide_list .planslide_item li {transform: translateX(-202%);}

/* #footBox ======================== */
  #footBox {
    width: 100%; min-width: 1440px;
    height: auto;
    border-top: 3px solid #37B9DF;
  }
  .foot_inner {
    width: 83.3333%; min-width: 1200px;
    height: auto;
    margin: 30px auto;
    position: relative;
  }
  .foot_main {
    position: relative;
    color: #000;
  }
  .foot_main h2 {
    width: auto;
    margin-bottom: 18px;
  }
  .foot_main h2 button img {
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
  }
  .cs_box {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .cs_part {
    width: auto;
    display: flex;
  }
  .tel_part {
    width: auto;
    font-size: 18px;
    line-height: 28px;
  }
  .cs_part button {
    width: auto;
    height: auto;
    text-align: left;
  }
  .tel_part address {
    font-size: 18px;
    font-weight: 400;
  }
  .inquiry_time {
    width: 100%;
  }
  .inquiry_time li {
    font-size: 18px;
  }
  .foot_main .company_info {
    width: 100%; min-width: 1200px;
    height: auto;
  }
  .foot_main .company_info li {
    display: inline-block;
    font-size: 17px;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    margin-top: 26px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  /* footer 관련사이트 ----------------- */
  .footsubmenu {
    width: 15%; min-width: 180px;
    height: auto;
    top: 0px;
    right: 0;
    position: absolute;
  }
  .brandsite_part {
    width: 100%;
  }
  .brandsite_btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #37B9DF;
    border-radius: 5px;
    color: #000;
    font-size: 19px;
    font-weight: 500;
  }
  .brandsite_part ul {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 5px 8px;
    border: 1px solid #262626;
    display: none;
    background-color: #fff;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .brandsite_part ul.on {
    display: block;
    width: 100%;
    height: auto;
  }
  .brandsite_part ul button {
    font-weight: 400;
    font-size: 18px;
  }
}
