/* b_smartphone.css */

/* max-width: 767px / design 기준: 320px */
@media all and (max-width: 767px) {
  #wrap {width: 100%; min-height: 600px;}

  /* #headBox =================================== */
  #headBox {
    width: 100%; min-width: 320px;
    height: 60px;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 300px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }
  .head_inner h1 {
    width: 100%; min-width: 258px;
    height: 100%;
  }
  .head_inner h1 button {
    width: 90px;
    height: 100%;
  }
  .head_inner h1 img {
    width: 100%;
    height: 100%;
  }
  .unb {display: none;}

  /* .header_m ------------------ */
  .header_m {
    width: auto; 
    height: 26px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
  }
  #unbInner {
    width: 100%;
    padding: 0;
  }
  
  /* slide menu button */
  #check_box {display: none;}
  #check_box + label {
    width: 11.875%; min-width: 38px;
    height: 20px;
    margin: auto;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  #check_box + label > span {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    transition: all 300ms;
    border-radius: 5px;
    background: black;
  }
  #check_box:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }
  #check_box + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }
  #check_box:checked + label > span:nth-child(2) {
    opacity: 0;
  }
  #check_box + label > span:nth-child(3) {
    bottom: 0;
  }
  #check_box:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }
  #check_box:checked + label + #slide_menu {
    left: 40px;
  }
  
  /* #slide_menu ====================== */
  #slide_menu {
    width: 100%; min-width: 288px;
    height: 100%;
    padding: 60px 16px 20px 16px;
    position: fixed;
    top: 0px;
    left: 100%;
    box-sizing: border-box;
    transition: all 300ms;
    text-transform: uppercase;
    overflow: auto;
    z-index: 1;
    background-color: rgba(55, 185, 223, 0.9);
  }
  .button_part {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .button_part button {
    width: 33.3333%; min-width: 100px;
    height: 35px;
    margin-left: 10px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #fff;
  }
  input[id*="slide_btn"] {display: none;}
  input[id*="slide_btn"] + label {
    width: auto;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }
  input[id*="slide_btn"] + label + div {
    max-height: 0;
    padding-left: 30px;
    transition: all .35s;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }
  input[id*="slide_btn"] + label + div a {
    width: 55%;
    padding: 14px 14px 14px 30px;
    display: flex;
    text-decoration: none;
    background-color: #78d7f4c1;
  }
  input[id*="slide_btn"]:checked + label + div {
    padding-top: 20px;
    max-height: inherit;
  }
  .head_inner02 {display: none;}

  /* #loginBox ================================ */
  #loginBox {
    width: 100%; min-width: 320px; max-width: 767px;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
  }
  .logintxet {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    padding-top: 112px;
    font-size: 25px;
    text-align: center;
    color: #353535;
  }
  .login_area {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: auto;
    padding: 20px;
  }
  .login_area form {
    width: 100%;
  }

  /* login main ------------------ */
  .privite {
    width: auto;
    height: auto;
    margin: auto;
    padding: 0;
    border: none;
  }
  .privite ul {
    width: 100%;
  }
  .button_content {
    width: 100%;
    margin: auto;
    display: flex;
  }
  .button_content button {
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
  }

  /* 로그인, 비회원 주문조회 버튼 */
  .login_content {
    border: 1px solid #37B9DF;
    background-color: #fff;
  }
  .login_content:hover {
    color: #000;
    background-color: #37B9DF;
  }
  .nonmember_content {
    border: 1px solid #37B9DF;
    background-color: #fff;
  }
  .nonmember_content:hover {
    background-color: #37B9DF;
  }
  .input_content {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .privite li input {
    width: 100%;
    height: 60px;
    padding: 12px 8px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  .nonMember_area {display: none;}
  
  /* 아이디 저장, 자동 로그인 ------------ */
  .checkbox_content {
    width: auto;
    padding: 10px;
    display: flex;
  }
  .check {
    width: 120px;
    height: auto;
    border: none;
  }
  .check label {
    width: auto;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  .check label i {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-top: 0.35rem;
    border: 1px solid #777;
  }
  .checkbox_content span {
    width: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  #idcheck:checked + label > i {
    position: relative;
    background: url(../../img/loginpage/check.svg) 50% no-repeat;
  }
  #logincheck:checked + label > i { 
    position: relative;
    background: url(../../img/loginpage/check.svg) 50% no-repeat;
  }
  .auto_login {
    width: 120px;
    height: auto;
    border: none;
  }
  .auto_login label {
    width: auto;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  .auto_login label i {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-top: 0.35rem;
    border: 1px solid #777;
  }

  /* login button --------------------- */
  .login_btn {
    margin-top: 10px;
    border: none;
    padding: 0;
  }
  .login {
    width: 76.9231%; min-width: 200px;
    height: 50px;
    margin: auto;
  }
  .login button {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #000; 
    border-radius: 8px;
    background-color: #37B9DF;
  }
  
  /* 회원가입, 아이디 찾기, 비밀번호 찾기 button */
  .etcBox {
    width: 86.6667%; min-width: 260px;
    height: auto;
    margin: auto;
    margin-top: 30px;
  }
  .etcBox ul {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .etcBox li {
    width: 90px;
    height: auto;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
  }
  .etcBox li:first-child {
    width: 60px;
    margin-left: 0;
  }

  /* sns login button */
  .snsLogin_area {
    width: 50%; min-width: 320px; max-width: 767px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }
  .snsLogin_content {
    width: 100%;
    height: 90px;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
  }
  .sns_part {
    width: 81.25%; min-width: 260px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: flex;
  }
  .facebook {
    width: 30.7692%; min-width: 80px;
    height: 80px;
    margin: auto;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../../img/loginpage/f_logo_RGB-Blue_58.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor: pointer;
  }
  .naver {
    width: 30.7692%; min-width: 80px;
    height: 80px;
    margin: auto;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../../img/loginpage/naver_iconcicle.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .kakaotalk {
    width: 30.7692%; min-width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../../img/loginpage/kakaotalk_logo.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  /* #footBox ============================ */
  #footBox {
    width: 100%; min-width: 320px;
    height: auto;
    float: left;
    border-top: 3px solid #37B9DF;
  }
  .foot_inner {
    width: 93.75%; min-width: 300px;
    height: auto;
    margin: 30px auto;
    position: relative;
  }
  .foot_moblie_main {
    color: #000;
    position: relative;
  }
  .foot_moblie_main h2 {
    width: auto;
    margin-bottom: 18px;
  }
  .foot_moblie_main h2 button img {
    width: 80px; 
    height: 30px;
    margin: auto;
    display: block;
  }
  .foot_moblie_main summary {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
  }
  .foot_moblie_main summary::marker {
    font-size: 0;
  }
  .foot_moblie_main summary img {
    width: auto;
    height: 20px;
    position: absolute;
  }
  .foot_main {display: none;}
  .cs_box {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .cs_part {
    width: 93.3333%; min-width: 280px;
  }
  .cs_part button {
    width: 8.5714%; min-width: 60px;
    height: auto;
    font-size: 16px;
    text-align: left;
  }
  .tel_part {
    width: 42.6667%; min-width: 128px;
    line-height: 28px;
    font-size: 16px;
  }
  .tel_part address,span {
    font-size: 16px;
    font-weight: 400;
  }
  .inquiry_time {
    width: 98.3333%; min-width: 295px;
  }
  .inquiry_time li {
    font-size: 14px;
    font-weight: 400;
  }
  .foot_moblie_main .company_info {
    width: 100%; min-width: 300px;
    height: auto;
  }
  .foot_moblie_main .company_info li {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }
  .foot_moblie_main .company_info li::after {display: none;}
  .foot_moblie_main p {
    margin-top: 26px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .last_li {display: none;}

  /* footer 관련사이트 ----------------- */
  .footsubmenu {
    width: 36.6667%; min-width: 110px;
    position: absolute;
    top: 0px;
    right: 0;
  }
  .brandsite_part {
    width: 100%;
  }
  .brandsite_btn {
    width: 90.9091%; min-width: 110px; 
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    background-color: #37B9DF;
  }
  .brandsite_part ul {
    width: 90.9091%; min-width: 110px; 
    height: auto;
    margin-top: 10px;
    padding: 5px;
    display: none;
    position: relative;
    border: 1px solid #262626;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }
  .brandsite_part li {
    width: auto;
    height: 35px;
    line-height: 25px;
  }
  .brandsite_part ul.on {
    width: 90.9091%; min-width: 110px; 
    height: auto;
    display: block;
  }
  .brandsite_part ul button {
    font-size: 14px;
    font-weight: 400;
  }
}
