/* d_laptop.css */

/* (width:1280px ~ 1439px) / design 기준 :1280px */
@media all and (min-width:1280px) and (max-width:1439px) {
  #wrap {width: 100%; min-width: 1280px;}

  /* #headBox =================================== */
  #headBox { 
    width: 100%; min-width: 1280px;
    height: 110px;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #fff;
  }
  .head_inner {
    width: 100%; min-width: 1280px; max-width: 1439px;
    height: 50%;
    margin: auto;
    padding: 2px;
    display: flex;
  }
  h1 {
    width: 56.7188%; min-width: 726px; 
    height: 40px;
    margin: auto;
  }
  h1 button {
    width: auto;
    height: 100%;
  }
  h1 button img { 
    height: 100%;
  }

  /* user navigation */
  .unb {
    width: auto; 
    height: auto;
    margin: auto;
    display: flex;
    text-transform: uppercase;
    text-align: center;
  }
  /* page 이동 */
  .shopping_part {
    width: 15.0943%; min-width: 80px;
    height: auto;
    font-size: 14px;
    line-height: 38px;
  }
  .shopping_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .login_part {
    width: 15.0943%; min-width: 80px;
    height: auto;
    line-height: 38px;
    font-size: 14px;
  }
  .login_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .join_part {
    width: 15.0943%; min-width: 80px;
    height: auto;
    line-height: 38px;
    font-size: 14px;
  }
  .join_part a {
    width: auto;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  /* search */
  .search_part {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 10px;
  }
  .search_part form {
    width: auto;
    height: auto;
  }
  .search_part fieldset {
    width: auto;
    height: auto;
    display: flex;
  }
  #searchInput {
    width: 68.571%; min-width: 192px;
    height: 35px;
    margin: auto;
    margin-right: 8px;
    padding-left: 10px;
    border: 1px solid #aaaaaa;
    font-size: 14px;
    border-radius: 4px;
  }
  .search_btn {
    width: 28.571%; min-width: 80px;
    height: 32px;
    margin: auto;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    border-radius: 5px;
    background-color: #37B9DF;
  }
  
  /* .head_inner02 ---------------------------------- */
  .head_inner02 {
    width: 100%;
    height: 50%;
    margin: auto;
    border-top: 2px solid #333;
    box-sizing: border-box;
  }
  /* global navigaition */
  .gnb {
    width: 91.4063%; min-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .submenu_part {
    display: inline-block;
    position: relative;
  }
  .btn_part {
    width: 11.1111%; min-width: 130px;
    height: 100%;
    line-height: 48px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }
  .header_m {display: none;}
  
  /* loginBox ============================ */
  #loginBox {
    width: 100%; min-width: 1280px; max-width: 1439px;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
    padding: 0;
  }
  .logintxet {
    width: 85.9375%; min-width: 1100px;
    height: auto;
    margin: auto;
    padding-top: 212px;
    font-size: 30px;
    text-align: center;
    color: #000;
  }
  .login_area {
    width: 46.875%; min-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 100px;
  }
  .login_area form {
    width: 100%;
  }
  
  /* login main ------------------ */
  .privite {
    width: auto; 
    height: auto;
    margin: auto;
    padding: 0;
    border: none;
  }
  .privite ul {
    width: 100%;
  }
  .button_content {
    width: 100%;
    margin: auto;
    display: flex;
  }
  .button_content button {
    width: 50%;
    height: 70px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
  }
  
  /* 로그인, 비회원 주문조회 버튼 */
  .login_content {
    border: 1px solid #37B9DF;
    background-color: #fff;
  }
  .login_content:hover {
    color: #000;
    background-color: #37B9DF;
  }
  .nonmember_content {
    border: 1px solid #37B9DF;
    background-color: #fff;
  }
  .nonmember_content:hover {
    background-color: #37B9DF;
  }
  .input_content {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .privite li input {
    width: 100%;
    height: 75px;
    padding: 12px;
    border: 1px solid #000;
    font-size: 18px;
    border-radius: 5px;
  }
  .nonMember_area {display: none;}
  
  /* 아이디 저장, 자동 로그인 ------------ */
  .checkbox_content {
    width: auto;
    padding: 10px;
    display: flex;
  }
  .check {
    width: 150px;
    height: auto;
    border: none;
  }
  .check label {
    width: auto;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  .check label i { 
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-top: 18px;
    border: 1px solid #777;
    font-size: 16px; 
  }
  .checkbox_content span {
    width: auto;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 400;
  }
  #idcheck:checked + label > i { 
    position: relative; 
    background: url(../../img/loginpage/check.svg) 50% no-repeat;
  }
  #logincheck:checked + label > i { 
    position: relative; 
    background: url(../../img/loginpage/check.svg) 50% no-repeat;
  }
  .auto_login {
    width: 150px;
    height: auto;
    border: none;
  }
  .auto_login label {
    width: auto;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  .auto_login label i {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-top: 18px;
    border: 1px solid #777;
    font-size: 16px; 
  }
  
  /* login button --------------------- */
  .login_btn {
    margin-top: 10px;
    border: none;
    padding: 0;
  }
  .login {
    width: 100%;
    height: 80px;
    margin: auto;
  }
  .login button {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #000;
    border-radius: 8px;
    background-color: #37B9DF;
  }
  
  /* 회원가입, 아이디 찾기, 비밀번호 찾기 button */
  .etcBox {
    width: 93.3333%; min-width: 560px;
    height: auto;
    margin: auto;
    margin-top: 40px;
  }
  .etcBox ul {
    width: 100%;
    height: auto;
    margin: auto;
    line-height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .etcBox li {
    width: 190px;
    height: auto;
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
  }
  .etcBox li:first-child {
    width: 176px;
    margin-left: 0;
  }
  
  /* sns login button */
  .snsLogin_area {
    width: 100%; min-width: 1280px; max-width: 1439px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    padding: 0;
    text-align: center;
  }
  .snsLogin_content {
    width: 100%;
    height: 90px;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
  }
  .sns_part {
    width: 41.4063%; min-width: 530px;
    height: auto;
    margin: auto;
    margin-top: 15px;
    display: flex;
  }
  .facebook {
    width: 32.0755%; min-width: 170px;
    height: 180px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../../img/loginpage/f_logo_RGB-Blue_58.png);
    background-size: 58%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .naver {
    width: 32.0755%; min-width: 170px;
    height: 180px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(../../img/loginpage/naver_iconcicle.png);
    background-position: center;
    background-size: 58%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .kakaotalk {
    width: 32.0755%; min-width: 170px;
    height: 180px;
    border-radius: 50%;
    background-image: url(../../img/loginpage/kakaotalk_logo.png);
    background-position: center;
    background-size: 58%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  /* #footBox ======================== */
  #footBox {
    width: 100%; min-width: 1280px;
    height: auto;
    border-top: 3px solid #37B9DF;
  }
  .foot_inner {
    width: 85.7813%; min-width: 1098px;
    height: auto;
    margin: 30px auto;
    position: relative;
  }
  .foot_main {
    position: relative;
    color: #000;
  }
  .foot_main h2 {
    width: auto;
    margin-bottom: 18px;
  }
  .foot_main h2 button img {
    width: 120px; 
    height: auto;
    margin: auto;
    display: block;
  }
  .cs_box {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .cs_part {
    width: auto;
    display: flex;
  }
  .tel_part {
    width: auto;
    line-height: 28px;
    font-size: 16px;
  }
  .cs_part button {
    width: auto;
    height: auto;
    text-align: left;
  }
  .tel_part address {
    font-size: 16px;
    font-weight: 400;
  }
  .inquiry_time {
    width: 100%;
  }
  .inquiry_time li {
    font-size: 16px;
  }
  .foot_main .company_info {
    width: 100%; min-width: 1098px;
    height: auto;
  }
  .foot_main .company_info li {
    display: inline-block;
    font-size: 17px;
  }
  .foot_main .company_info li::after {
    padding: 0 14px;
    content: 'l';
  }
  .foot_main p {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  /* footer 관련사이트 ----------------- */
  .footsubmenu {
    width: 14.4014%; min-width: 160px;
    top: 0px;
    right: 0;
    position: absolute;
  }
  .brandsite_part {
    width: 100%;
  }
  .brandsite_btn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    border-radius: 5px;
    background-color: #37B9DF;
  }
  .brandsite_part ul {
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding: 5px 8px;
    display: none;
    position: relative;
    border: 1px solid #262626;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }
  .brandsite_part ul.on {
    width: 100%;
    height: auto;
    display: block;
  }
  .brandsite_part ul button {
    font-size: 16px;
    font-weight: 400;
  }
}
